name: Check Spelling
on:
  pull_request:
    paths:
    - '**.txt'
    - '**.html'
    - '**.md'
jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Check Spelling
      uses: SFLScientific/spellcheck-github-actions@master
