name: Check Spelling
on:
  pull_request:
    paths:
    - '**.txt'
    - '**.html'
    - '**.md'
jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Check Spelling
      uses: SFLScientific/spellcheck-github-actions@master
